/* Styles go here */

body {
  margin-left: 10px;
}

.spring {
  background-color: green;
}

.summer {
  background-color: orange;
}

.fall {
  background-color: brown;
}

.winter {
  background-color: white;
}